   <launch>
    <param name="package" value="beginner_tutorials" />

     <group ns="simpubsub">
      <node pkg="rqt_console" name="rqt_console" type="rqt_console" />
      <node pkg="rqt_logger_level" name="rqt_logger_level" type="rqt_logger_level" />

      <node pkg="beginner_tutorials" name="publisher" type="talker" />
      <node pkg="beginner_tutorials" name="subscriber" type="listener" />

      <node pkg="rqt_graph" name="rqt_graph" type="rqt_graph" />
      <node pkg="rqt_plot" name="rqt_plot" type="rqt_plot" />
    </group>
    
<!--       <group ns="turtlesim2">
        <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
      </group>
    -->
<!--      <node pkg="turtlesim" name="mimic" type="mimic">
       <remap from="input" to="turtlesim1/turtle1"/>
       <remap from="output" to="turtlesim2/turtle1"/>
     </node> -->

   </launch>